<a href="https://colab.research.google.com/github/shahinsony1/2216194/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. string opertaions
str="python"
print(str)

python

In [ ]:
str1="gradstellar 1st assignment"
str2=" python basic operations"
print(str1,str2)

In [ ]:
str2="10"
str3="20"
print(str2,str3)

In [ ]:
str1=("shahin","10","20")
str2=("welcome to gradstellar")
print(str1)
print(str2)
print(str1,str2)

('shahin', '10', '20')
welcome to gradstellar
('shahin', '10', '20') welcome to gradstellar

In [ ]:
#2. list operations
a=[10,20,20.2,50,"hai","abcd"]

print(list(a))

[10, 20, 20.2, 50, 'hai', 'abcd']

In [ ]:
#3. tuple operations
t=()
type(t)
t=(10,20,30,40)
print(t)


t1=(10,20,30)
t2=(40,50,60)
t1+t2

t1
t1*3
t2*2

In [ ]:
#4. dictionary 
dict={"name":"shahin","R.no":"21","city":"hanamkonda"}
print(dict)
dict["name"]
dict["R.no"]
dict["city"]
dict1={"xyz"}
print(dict,dict1)

{'name': 'shahin', 'R.no': '21', 'city': 'hanamkonda'}
{'name': 'shahin', 'R.no': '21', 'city': 'hanamkonda'} {'xyz'}

In [ ]:
#5. sets
from re import S
#set
s={}
type(s)
s=set()
s={10,20,30,50}
print(s)
s1={20,40,60,40}
print(s,s1)
len(s)
len(s1)
s.add(60)
s.remove(10)
s.pop()
s.clear()
del s

{10, 20, 50, 30}
{10, 20, 50, 30} {40, 20, 60}

In [ ]:
s={10,20,30,60}
t={10,20,30,70}
s. issubset (t)

False

In [ ]:
t.issuperset(s)

False

In [ ]:
s.issuperset(t)

False

In [ ]:
#6.decimal to binary
n=int(input("enter number"))
l=list()
while n!=0:
   r=n%2
   l.append(r)
   n=n//2
l.reverse()
for ele in l:
    print(ele,end="")

In [ ]:
#decimal to binary, octal,hexadecimal
dec=355
print("the decimal value of ",dec,"is:")
print(bin(dec),"in binary.")
print(oct(dec),"in octal.")
print(hex(dec),"in hexadecimal.")

In [ ]:
#7. arithmetic operations
a=int(input("first value"))
b=int(input("second value"))
c=a+b
print(c)

c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)
c=a%b
print(c)

first value30
second value50
80
-20
1500
0.6
30

In [ ]:
#8. assignment operaters
x=10
print(x)
x+=3
print(x)
x-=3
print(x)
x*=2
print(x)
x/=2
print(x)
x%=2
print(x)

10
13
10
20
10.0
0.0

In [ ]:
#9. comparison operations
x=10
y=20
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [ ]:
#10. logical operations
age=70
temptr=102
if(age>=50 and temptr>=98):
  print("you need to go to hospital")
else:
  print("you are ok")

you need to go to hospital

In [ ]:
#logical operations (or)
age=75
temp=102
if(age>=50 or temptr>=98):
    print("you need to go to hospital")
else:
      print("you are ok")

you need to go to hospital

In [ ]:
#logical operations
a=17
b=38
if(a!=b):
  print("natural numbers")
else:
    print("number")

natural numbers

In [ ]:
#11. bitwise operaters
a=10
b=4

#print bitwise AND operation
print("a&b:",a&b)

#print bitwise OR operation
print("a|b:",a|b)
#print bitwise NOT operation
print("~a:",~a)
#print bitwise XOR operation
print("a^b:",a^b)
#print bitwise right shift operation
print("a>>2:",a>>2)
#print bitwise left shift operation
print("a<<2:",a<<2)

a&b: 0
a|b: 14
~a: -11
a^b: 14
a>>2: 2
a<<2: 40

In [ ]:
#12. identical operaters
a=20
b=20
print(a is b)
a=30
b=30
print(a is not b)

True
False

In [ ]:
#13. membership operaters
str="WELCOME TO BOOTCAMP"
print("WEL" in str)
print("ABC" in str)

True
False

In [ ]:
#14. negative Indexing in lists
mylist=["cricket","football","hockey","chess","carrom"]
print(mylist)

#fetch last element 
print (mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

In [ ]:
#15. predict the output
print("A series of charecters designated as one object known as a string"[::-1][4::3])
print("-------------")
print("welcome to python training program"[3:10][::-1])

taawkcbe  tgestrcoeeA
-------------
ot emoc

In [ ]:
#16. p_phrase
p_phrase="was it a car or a cat i saw"
print(p_phrase.upper()[::-1])

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17. z00
x=int(input(""))
y=2*x
print(x*'z'+y*'o')

5
zzzzzoooooooooo